.favorites {
  margin-bottom: 3rem;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s;
}



@media only screen and (min-width: 800px) {
  .favorites {
    margin: auto;
    width: 75%;
  }
}

@media only screen and (min-width: 1100px) {
  .favorites {
    margin: auto;
    width: 65%;
  }
}

@media only screen and (min-width: 1800px) {
  .favorites {
    margin: auto;
    width: 40%;
  }
}
